@{
    ViewData["Title"] = "MyWork";
}

<h1>James' Work</h1>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/katana.jpg" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">Laminated Steel forged Katana</h5>
                    <p class="card-text">
                        Discover the dazzling danger of our handcrafted katana. Each blade embodies centuries of tradition, crafted by and wielded by learned gurus. Holding one means holding a warrior's spirit, steeped in honor and legacy. It's more than a sword, it's a symbol of power and tradition.
                    </p>
                    <p class="card-text">Price: was$4500.00 NOW $3600.00</p>
                </div>
            </div> 
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/sculpture.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Stone forged "Big Fred Gnome"</h5>
                    <p class="card-text">Immerse yourself in the charm and craftsmanship of our stone-forged "Big Fred" Gnome sculpture. Every groove etched with the care and skill. Experience the "Medusa" like effect of the capture our art has on the viewer. It's more than just a gnome, its art, meant to elavate.'</p>
                    <p class="card-text">$2200.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/images/painting.jpg" class="card-img-top" >
                <div class="card-body">
                    <h5 class="card-title">KwaNogqaza</h5>
                    <p class="card-text">Art may be subjective, but he beauty of this art piece is the only objective truth. Inspired by "The place of the tall one, this piece wishes to transport the viewer to somewhere they wish, but have never been to, It's not just art, its life.
                    <p class="card-text">$1200.00</p>
                </div>
            </div>
        </div>
      
    </div>
</div>

@section Scripts {
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
}